@page
@model FisioCare_2.Pages.Admin.GestionCreditosConf.IndexModel
@{
    Layout = "_LayoutAdmin";
}

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-page='/Admin/PaquetesCreditosConf/Create'>Nuevo Paquete</a>
    </div>
</div>

<section class="projects-section card">
    <div class="card-header">
        <h2>Gestión de Créditos</h2>
        <p class="subtitle">Seleccione un paciente y un paquete de créditos para asignar</p>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Asignar Créditos a un Paciente</h4>
            <form method="post" asp-page-handler="AsignarCreditos">
                <div class="form-group">
                    <label for="PacienteId">Seleccionar Paciente</label>
                    <select class="form-control" id="PacienteId" name="PacienteId" required>
                        <option value="">Seleccione un paciente</option>
                        @foreach (var paciente in Model.Pacientes)
                        {
                            <option value="@paciente.Id">@paciente.FirstName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="PaqueteId">Seleccionar Paquete de Créditos</label>
                    <select class="form-control" id="PaqueteId" name="PaqueteId" required>
                        <option value="">Seleccione un paquete</option>
                        @foreach (var paquete in Model.PaquetesCredito)
                        {
                            <option value="@paquete.Id">@paquete.Nombre - @paquete.CantidadCreditos Créditos</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success mt-3">Asignar Créditos</button>
                </div>
            </form>
        </div>
    </div>
</section>